.about-us::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: url('../images/about/background1.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;
}
.about-us {
    position: relative;
}
.about-us__container {
    display: flex;
    justify-content: center;
    position: relative;
}
.about-us__content {
    position: relative;
    width: 90%;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 94px 0px;
}
.about-us__content h2 {
    text-align: center;
    color: #000;
}
.about-us__content p {
    text-align: center;
    padding: 20px 0px;
    color: #000;
}
@media (max-width: 991.98px) {
    .about-us__content {
        width: 100%;
    }
    .about-us__content h2 {
        font-size: 35px;
    }
    .about-us__content p {
        font-size: 14px;
    }
}
@media (max-width: 767.98px) {
    .about-us__content {
        width: 100%;
        margin: 75px 0px 55px 0px;
    }
    .about-us__content h2 {
        font-size: 35px;
    }
    .about-us__content p {
        font-size: 14px;
    }
}
@media (max-width: 479.98px) {
    .about-us__content h2 {
        font-size: 30px;
    }
    .about-us__content p {
        font-size: 12px;
    }
}