:root {
    --sand-tan: #e1b382;
    --sand-tan-shadow: #c89666;
    --nigth-blue: #2d545e;
    --nigth-blue-shadow: #12343b;
}
.camera {
    background: #dcc7aa27;
}
.camera__container {
    min-height: 540px;
    display: flex;
    justify-content: center;
    min-height: auto;
    padding: 94px 0px;
}
.camera__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 85%;
}
.image-block {
    width: 35%;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 35px;
  }
  .monitor {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
  }
  .pet {
    width: 50%;
    object-fit: cover;
    position: absolute;
    top: 5%;
    left: 24%;
  }
  .stream {
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    background-color: #2d545e;
}
.camera__button {
    width: 25%;
    height: 60px;
    font-size: 10px;
}
.camera__button:hover {
  background-color: var(--nigth-blue);
}
@media (max-width: 991.98px) {
  .camera__button {
    width: 28%;
    height: 50px;
    font-size: 9px;
  }
} 
@media (max-width: 767.98px) {
  .camera__container {
    padding: 34px 0px;
}
.camera__button {
  width: 34%;
    height: 40px;
    font-size: 8px;
}
}
@media (max-width: 479.98px) {
  .camera__button {
    width: 38%;
      height: 30px;
      font-size: 6px;
  }
}
.stream iframe {
  width: 100%;
  height: 100%;
  border:  4px solid var(--nigth-blue-shadow);
}